input {
  file {
    path => "/data/cache/logs/*"
    type => "cache"
  }
  udp {
    port => 25826         # 25826 matches port specified in collectd.conf
    buffer_size => 1452   # 1452 is the default buffer size for Collectd
    codec => collectd { } # specific Collectd codec to invoke
    type => collectd
  }
}

filter {
  kv {
      field_split => "@@"
      value_split => "@"
      source => "message"
  }

  mutate {
    replace => { "environment" => "{{ env }}" }
  }

  date {
    match => [ "timestamp" , "yyyyMMdd HH:mm:ss,SSS" ]
    timezone => "Europe/Madrid"
  }
}

output {
  elasticsearch {
    host => "{{ elasticsearch_host }}"
    protocol => "http"
    port => "{{ elasticsearch_port }}"
  }
  stdout { codec => rubydebug }
}
